
@{
    ViewBag.Title = "Tin Tức ";
    Layout = "~/Views/Shared/_LayoutUser.cshtml";
}
<!-- Trở lại đầu trang-->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/owlcarousel.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>

@*<section id="breadcrumb-wrapper3" class="breadcrumb-w-img">
    <div class="breadcrumb-overlay"></div>
    <div class="breadcrumb-content">
        <div class="wrapper">
            <div class="inner text-center">
                <div class="breadcrumb-big">

                    <h2>
                        Tin tức
                    </h2>

                </div>
                <div class="breadcrumb-small">
                    <a href="@Url.Action("index","User")" title="Quay trở về trang chủ">Trang chủ</a>



                    <span aria-hidden="true">/</span>

                    <span>Tin tức</span>



                </div>
            </div>
        </div>
    </div>
</section>*@



<div id="PageContainer" class="is-moved-by-drawer">
    <main class="main-content" role="main">


        <section id="blog-wrapper">
            <div class="wrapper">
                <div class="inner">
                    <div class="grid">

                                              <div class="grid__item large--one-half medium--one-half small--one-whole" style="display: flex; justify-content: center; align-items: center; text-align: center; ">
                            <div class="blog-content">

                                <div class="blog-content-wrapper">
                                    <div class="blog-head">
                                        <div class="blog-title">
                                            <h1>Tin tức</h1>
                                        </div>
                                    </div>
                                    <div class="blog-body">
                                        <div class="grid-uniform">


                                            <div class="grid__item large--one-half medium--one-half small--one-whole">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/_nLUJu4ev_c?si=5NH4VoH6G3o-uAi1">
                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/_nLUJu4ev_c?si=5NH4VoH6G3o-uAi1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/_nLUJu4ev_c?si=5NH4VoH6G3o-uAi1">Top 7 Giống Mèo ĐÁNG YÊU Nhất Thế Giới</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 02/07/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i> ABCD
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/_nLUJu4ev_c?si=5NH4VoH6G3o-uAi1"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                    </div> 

                                                    </div>
                                                </div>


                                            </div>

                                              <div class="grid__item large--one-half medium--one-half small--one-whole" style="display: flex; justify-content: center; align-items: center; text-align: center; ">

                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/i15AYGLqOOM?si=GnyM3z5JT5KjFnFT">

                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/i15AYGLqOOM?si=GnyM3z5JT5KjFnFT" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                          
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/i15AYGLqOOM?si=GnyM3z5JT5KjFnFT">Khoảnh khắc đáng yêu của thú cưng</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 03/07/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i> Tấn Tài
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/embed/KJxbN4Cv8jQ?si=qaeBYoYC_Jz1rSsZ"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                        @*  Tùy theo từng kiểu dáng khác nhau, bạn cũng sẽ có vô vàn cách buộc dây giày đẹp cần phải tham khảo đấy nhé.Đối với các tín đồ yêu thích giày sneaker, một đôi giày đẹp chính là t...*@

                                                    </div>
                                                </div>
                                                  


                                            </div>

                                              <div class="grid__item large--one-half medium--one-half small--one-whole" style="display: flex; justify-content: center; align-items: center; text-align: center; ">
                                                <div class="article-item">
                                                    <div class="article-img">
                                                        <a href="https://www.youtube.com/embed/KJxbN4Cv8jQ?si=qaeBYoYC_Jz1rSsZ">

                                                            <div class="blog-post-audio">
                                                                <iframe width="560" height="315" src="https://www.youtube.com/embed/KJxbN4Cv8jQ?si=qaeBYoYC_Jz1rSsZ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                                            </div>
                                                            @*<img src="../file.hstatic.net/1000359177/article/image1_20190102104221_large.png" alt="Những cách buộc dây giày đẹp ai nhìn cũng thích mê" />*@
                                                        </a>
                                                    </div>
                                                    <div class="article-title">
                                                        <a href="https://www.youtube.com/embed/KJxbN4Cv8jQ?si=qaeBYoYC_Jz1rSsZ">Nhạc thư giãn cho thú cưng</a>
                                                    </div>
                                                    <div class="article-info">
                                                        <div class="article-date">
                                                            <i class="fa fa-calendar" aria-hidden="true"></i> 04/07/22
                                                        </div>
                                                        <div class="article-author">
                                                            <i class="fa fa-user" aria-hidden="true"></i> Hải Nam
                                                        </div>
                                                        <div class="article-comment">
                                                            <i class="fa fa-commenting" aria-hidden="true"></i> <span class="fb-comments-count" data-href="https://www.youtube.com/emfffwbead//embed/38AFNvoXP-U"></span>
                                                        </div>
                                                    </div>
                                                    <div class="article-desc">

                                                        @*Giày thể thao là một trong số những phụ kiện không thể thiếu, làm nổi bật bộ trang phục bạn mặc hàng ngày, tôn lên nét cá tính riêng, lại giúp bạn dễ dàng đi lại, di chuyển. Chí...*@

                                                    </div>
                                                </div>


                                            </div>
                                            

                                        </div>




                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="grid__item large--three-twelfths medium--one-whole small--one-whole">
                            <div class="blog-sidebar">

                                <div class="list-categories">
                                    <div class="blog-sb-title clearfix" style="margin-top:15px">
                                        <h3 style="background: #2d485a; ">
                                            Trang fanpage hỗ trợ:
                                        </h3>
                                    </div>

                                    <div id="fb-root"></div>
                                    <script async defer crossorigin="anonymous" src="https://connect.facebook.net/vi_VN/sdk.jssss#xfbml=1&version=v14.0" nonce="wdEoVdts">
                                    </script>
                                    <div class="fb-page" data-href="https://www.facebook.com/ksgdf/a/ksgdf/a/ksgdf/a/ksgdf/a/conddgnghethongtingt" data-tabs="timeline" data-width="" data-height="" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true">
                                        <blockquote cite="https://www.facebook.com/ksgdf/a/ksgdf/a/ksgdf/a/ksgdf/a/conddgnghethongtingt" class="fb-xfbml-parse-ignore">
                                            <a href="https://www.facebook.com/ksgdf/a/ksgdf/a/ksgdf/a/ksgdf/a/congnghedđthongtingt">Công Nghệ Thông Tin</a>
                                        </blockquote>
                                    </div>
                                    @*<div class="blog-sb-title clearfix">
                <h3>
                    Danh mục tin tức
                </h3>
            </div>
            <ul class="no-bullets">
                Nhạc thư giãn
            </ul>
            <ul class="no-bullets">
                Những điều hài hước về thú cưng
            </ul>
            <ul class="no-bullets">
                Sức khỏe thú cưng
            </ul>
        </div>



        <div class="blog-sb-banner">
            <a href="@Url.Action("sanpham","User")">
                <img src="/img/cat1.png" alt="Ảnh banner 1" />
            </a>
        </div>



        <div class="all-tags">
            <div class="blog-sb-title clearfix">
                <h3>
                    Từ khóa
                </h3>
            </div>
            <div class="all-tags-wrapper clearfix">

                <ul class="no-bullets">
                    Thú cưng
                </ul>
                <ul class="no-bullets">
                    Thư giãn
                </ul>
                <ul class="no-bullets">
                    Sức khỏe thú cưng
                </ul>
            </div>
        </div>



        <div class="blog-sb-banner">
            <a href="@Url.Action("sanpham","User")">
                <img src="/img/dogandcat.png" alt="Ảnh banner 2" />
            </a>
        </div>*@
                                </div>

                            </div>

                        </div>
                    </div>
                </div>
        </section>



    </main>
</div>


<div id="modalAddComplete">
</div>

<button type="button" id="modalAddCompleteBtn" style="display: none;"></button>

<script>
    // Get the modal
    var modalAddComplete = document.getElementById('modalAddComplete');

    // Get the button that opens the modal
    var modalAddCompleteBtn = document.getElementById("modalAddCompleteBtn");

    // When the user clicks the button, open the modal
    modalAddCompleteBtn.onclick = function () {
        modalAddComplete.style.display = "block";
    }

    // When the user clicks anywhere outside of the modal, close it
    window.onclick = function (event) {
        if (event.target == modalAddComplete) {
            modalAddComplete.style.display = "none";
        }
    }
</script>

<script language="javascript" src="~/Scripts/ajax-cart5eef.js"></script>
<!-- Custom script -->
<script>
    if ($(window).width() > 768) {
        setTimeout(function () {
            $("#ProductThumbs .thumbnail-item:first-child a").trigger('click');
        }, 10);
    };
</script>
<script language="javascript" src="~/Scripts/hoverchangeimage.js"></script>
<!-- accordion -->
<script language="javascript" src="~/Scripts/accordion.js"></script>
<!-- Owl carousel init -->
<script language="javascript" src="~/Scripts/Owlcarousel.js"></script>
<!-- Back to top -->
<script language="javascript" src="~/Scripts/backtotop.js"></script>
<!-- Validate quantity form & trigger zoom -->
<script language="javascript" src="~/Scripts/triggerzoom.js"></script>
<!--thuc hiên-->
<script language="javascript" src="~/Scripts/thuchien.js"></script>
<!-- popup loaded -->

<script language="javascript" src="~/Scripts/quickview.js"></script>
<script>
    $(".hc-search-wrapper > a").click(function () {
        $(".search-bar-header").toggle();
    });
</script>












