
@foreach (var item in Model)
{
    <div class="menuItem_2">
        <div class="wrap-link linkLevel_2">
            <a class="d-inline-block" href="@Url.Action("SPTheothuonghieu",new { id = item.MATH })">@item.TENTH</a>
        </div>
    </div>
    @*<a class="aTag" href="@Url.Action("SPTheothuonghieu",new { id = item.MATH })">
        <p class="subcateName active_cateName">@item.TENTH</p>
    </a>*@
}

