USE [master]
GO
/****** Object:  Database [WebsiteThuCung]    Script Date: 29/11/2025 12:17:33 PM ******/
CREATE DATABASE [WebsiteThuCung]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'WebsiteThuCung', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteThuCung.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'WebsiteThuCung_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\WebsiteThuCung_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [WebsiteThuCung].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [WebsiteThuCung]
GO
/****** Object:  Table [dbo].[ADMIN]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ADMIN](
	[MAADMIN] [int] IDENTITY(1,1) NOT NULL,
	[HOTEN] [nvarchar](100) NOT NULL,
	[DIACHI] [nvarchar](200) NOT NULL,
	[DIENTHOAI] [nvarchar](11) NOT NULL,
	[TENLOAI] [nvarchar](100) NOT NULL,
	[TENDN] [nvarchar](30) NOT NULL,
	[MATKHAU] [varchar](20) NOT NULL,
	[AVATAR] [nvarchar](100) NOT NULL,
	[EMAIL] [nvarchar](50) NOT NULL,
 CONSTRAINT [P_NHANVIEN] PRIMARY KEY CLUSTERED 
(
	[MAADMIN] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ChiTietDichVu]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ChiTietDichVu](
	[MaCT] [int] IDENTITY(1,1) NOT NULL,
	[TieuDe] [nvarchar](70) NULL,
	[DieuKien] [nvarchar](50) NOT NULL,
	[DonGia] [int] NULL,
	[MaDV] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[MaCT] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CHUCNANG_QUYEN]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CHUCNANG_QUYEN](
	[MACHUCNANG] [varchar](100) NOT NULL,
	[TENCN] [nvarchar](200) NULL,
 CONSTRAINT [PK_CHUCNANG_QUYEN] PRIMARY KEY CLUSTERED 
(
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[CTDONDATHANG]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[CTDONDATHANG](
	[MADH] [int] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
	[DONGIA] [int] NOT NULL,
	[THANHTIEN] [decimal](18, 0) NULL,
 CONSTRAINT [P_CTDONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DangKyDichVu]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DangKyDichVu](
	[SoDK] [int] IDENTITY(1,1) NOT NULL,
	[MaKH] [int] NOT NULL,
	[MaCT] [int] NOT NULL,
	[NgayDangKy] [date] NULL,
	[Hoten] [nvarchar](200) NULL,
	[SDT] [varchar](50) NULL,
	[Diachi] [nvarchar](200) NULL,
	[TongTien] [int] NULL,
	[TinhTrang] [int] NULL,
 CONSTRAINT [Pk_DangKyDichVu] PRIMARY KEY CLUSTERED 
(
	[SoDK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DichVu]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DichVu](
	[MaDV] [int] IDENTITY(1,1) NOT NULL,
	[TenDV] [nvarchar](70) NOT NULL,
	[ComboDV] [nvarchar](120) NULL,
	[LoaiDV] [tinyint] NOT NULL,
 CONSTRAINT [Pk_dinhluong] PRIMARY KEY CLUSTERED 
(
	[MaDV] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DONDATHANG]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DONDATHANG](
	[MADH] [int] IDENTITY(1,1) NOT NULL,
	[MAKH] [int] NOT NULL,
	[NGAYDAT] [datetime] NOT NULL,
	[NGAYGIAO] [datetime] NULL,
	[TINHTRANGDH] [bit] NULL,
	[DATHANHTOAN] [bit] NULL,
	[TONGTIEN] [decimal](18, 0) NULL,
 CONSTRAINT [P_DONDATHANG] PRIMARY KEY CLUSTERED 
(
	[MADH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GIAMGIA]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GIAMGIA](
	[MAGIAMGIA] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[PHAMTRAMGIAM] [int] NOT NULL,
	[ANHIEN] [bit] NULL,
 CONSTRAINT [P_PHIEUTHANHLI] PRIMARY KEY CLUSTERED 
(
	[MAGIAMGIA] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HINH]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HINH](
	[MAHINH] [int] IDENTITY(1,1) NOT NULL,
	[MASP] [int] NOT NULL,
	[HINH1] [nvarchar](100) NULL,
	[ANHIEN] [bit] NULL,
 CONSTRAINT [P_HINH] PRIMARY KEY CLUSTERED 
(
	[MAHINH] ASC,
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KHACHHANG]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KHACHHANG](
	[MAKH] [int] IDENTITY(1,1) NOT NULL,
	[HOTENKH] [nvarchar](100) NOT NULL,
	[DIENTHOAI] [nvarchar](11) NOT NULL,
	[DIACHI] [nvarchar](200) NULL,
	[TENDNKH] [nvarchar](30) NOT NULL,
	[MATKHAUKH] [varchar](200) NOT NULL,
	[EMAIL] [nvarchar](100) NULL,
	[NGAYSINH] [datetime] NULL,
	[HINHANH] [nvarchar](200) NULL,
	[KHOIPHUCMATKHAU] [nchar](200) NULL,
 CONSTRAINT [P_KHACHHANG] PRIMARY KEY CLUSTERED 
(
	[MAKH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LOAI]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LOAI](
	[MALOAI] [int] IDENTITY(1,1) NOT NULL,
	[TENLOAI] [nvarchar](200) NOT NULL,
 CONSTRAINT [P_LOAI] PRIMARY KEY CLUSTERED 
(
	[MALOAI] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[MAUSAC]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[MAUSAC](
	[MAMAUSAC] [int] IDENTITY(1,1) NOT NULL,
	[TENMAUSAC] [nvarchar](100) NOT NULL,
	[ANHIEN] [bit] NULL,
 CONSTRAINT [P_MAUSAC] PRIMARY KEY CLUSTERED 
(
	[MAMAUSAC] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHANQUYEN]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHANQUYEN](
	[MAPQ] [int] IDENTITY(1,1) NOT NULL,
	[MAADMIN] [int] NOT NULL,
	[MACHUCNANG] [varchar](100) NOT NULL,
 CONSTRAINT [PK_PHANQUYEN] PRIMARY KEY CLUSTERED 
(
	[MAPQ] ASC,
	[MAADMIN] ASC,
	[MACHUCNANG] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PHIEUNHAPKHO]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PHIEUNHAPKHO](
	[MAPHIEUNK] [int] IDENTITY(1,1) NOT NULL,
	[NGAYNK] [datetime] NOT NULL,
	[MASP] [int] NOT NULL,
	[SOLUONG] [int] NOT NULL,
 CONSTRAINT [P_PHIEUNHAPKHO] PRIMARY KEY CLUSTERED 
(
	[MAPHIEUNK] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[SANPHAM]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[SANPHAM](
	[MASP] [int] IDENTITY(1,1) NOT NULL,
	[TENSP] [nvarchar](200) NOT NULL,
	[DONGIAMUA] [decimal](18, 0) NULL,
	[DONGIABAN] [decimal](18, 0) NULL,
	[MATH] [int] NOT NULL,
	[MALOAI] [int] NOT NULL,
	[MAMAUSAC] [int] NULL,
	[SOLUONG] [int] NULL,
	[HINHANH] [nvarchar](100) NULL,
	[MOTA] [nvarchar](max) NOT NULL,
	[THANHTOANON] [nvarchar](200) NULL,
	[ANHIEN] [bit] NULL,
 CONSTRAINT [P_SANPHAM] PRIMARY KEY CLUSTERED 
(
	[MASP] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[THUONGHIEU]    Script Date: 29/11/2025 12:17:34 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[THUONGHIEU](
	[MATH] [int] IDENTITY(1,1) NOT NULL,
	[TENTH] [nvarchar](100) NOT NULL,
	[LOGO] [nvarchar](100) NULL,
	[ANHIEN] [bit] NULL,
 CONSTRAINT [P_THUONGHIEU] PRIMARY KEY CLUSTERED 
(
	[MATH] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[ADMIN] ON 

INSERT [dbo].[ADMIN] ([MAADMIN], [HOTEN], [DIACHI], [DIENTHOAI], [TENLOAI], [TENDN], [MATKHAU], [AVATAR], [EMAIL]) VALUES (1, N'ADMIN', N'HCM', N'0123456789', N'Admin', N'admin', N'123123', N'img_8.png', N'admin@gmail.com')
INSERT [dbo].[ADMIN] ([MAADMIN], [HOTEN], [DIACHI], [DIENTHOAI], [TENLOAI], [TENDN], [MATKHAU], [AVATAR], [EMAIL]) VALUES (5, N'Vũ Minh Quân', N'Gò Vấp', N'0908943407', N'ADMINISTRATOR', N'minhquan', N'123456789', N'staff_1.png', N'quanvm007@gmail.com')
SET IDENTITY_INSERT [dbo].[ADMIN] OFF
GO
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] ON 

INSERT [dbo].[ChiTietDichVu] ([MaCT], [TieuDe], [DieuKien], [DonGia], [MaDV]) VALUES (1, N'Các bé chó dưới 5kg', N'Dưới 5Kg', 120000, 1)
INSERT [dbo].[ChiTietDichVu] ([MaCT], [TieuDe], [DieuKien], [DonGia], [MaDV]) VALUES (2, N'Các bé chó dưới 5kg', N'Dưới 5kg', 120000, 1)
INSERT [dbo].[ChiTietDichVu] ([MaCT], [TieuDe], [DieuKien], [DonGia], [MaDV]) VALUES (3, N'Các bé chó từ 5kg đến dưới 10kg', N'Từ 5kg - 10kg', 150000, 1)
SET IDENTITY_INSERT [dbo].[ChiTietDichVu] OFF
GO
INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_CHUCNANG', N'Quản lý chức năng quyền')
INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_DONDATHANG', N'Quản lý đơn đặt hàng')
INSERT [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG], [TENCN]) VALUES (N'QL_HINHMOTA', N'Quản lý hình mô tả')
GO
INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 5, 1, 9900000, CAST(9900000 AS Decimal(18, 0)))
INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (2, 10, 1, 800000, CAST(800000 AS Decimal(18, 0)))
INSERT [dbo].[CTDONDATHANG] ([MADH], [MASP], [SOLUONG], [DONGIA], [THANHTIEN]) VALUES (3, 8, 1, 9800000, CAST(9800000 AS Decimal(18, 0)))
GO
SET IDENTITY_INSERT [dbo].[DangKyDichVu] ON 

INSERT [dbo].[DangKyDichVu] ([SoDK], [MaKH], [MaCT], [NgayDangKy], [Hoten], [SDT], [Diachi], [TongTien], [TinhTrang]) VALUES (4, 6, 13, CAST(N'2025-11-24' AS Date), N'Xuân Sơn', N'0978923124', N'Quận 3', 350000, 1)
INSERT [dbo].[DangKyDichVu] ([SoDK], [MaKH], [MaCT], [NgayDangKy], [Hoten], [SDT], [Diachi], [TongTien], [TinhTrang]) VALUES (5, 6, 13, CAST(N'2025-11-24' AS Date), N'Xuân Sơn', N'0978923124', N'Quận 3', 350000, 2)
SET IDENTITY_INSERT [dbo].[DangKyDichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DichVu] ON 

INSERT [dbo].[DichVu] ([MaDV], [TenDV], [ComboDV], [LoaiDV]) VALUES (1, N'Khách sạn cho chó', N'', 0)
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [ComboDV], [LoaiDV]) VALUES (2, N'Khách sạn cho mèo', N'', 0)
INSERT [dbo].[DichVu] ([MaDV], [TenDV], [ComboDV], [LoaiDV]) VALUES (3, N'Spa trọn gói', N'Tắm + Sấy, Vệ Sinh Tổng Quát, Nặn Tuyến Hôi', 1)
SET IDENTITY_INSERT [dbo].[DichVu] OFF
GO
SET IDENTITY_INSERT [dbo].[DONDATHANG] ON 

INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (2, 2, CAST(N'2023-09-30T10:04:08.890' AS DateTime), CAST(N'2023-09-30T00:00:00.000' AS DateTime), 1, 1, CAST(10700000 AS Decimal(18, 0)))
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (3, 2, CAST(N'2023-09-30T10:04:44.703' AS DateTime), CAST(N'2023-09-23T00:00:00.000' AS DateTime), 1, 0, CAST(9800000 AS Decimal(18, 0)))
INSERT [dbo].[DONDATHANG] ([MADH], [MAKH], [NGAYDAT], [NGAYGIAO], [TINHTRANGDH], [DATHANHTOAN], [TONGTIEN]) VALUES (4, 3, CAST(N'2023-09-30T10:27:39.660' AS DateTime), CAST(N'2023-09-29T00:00:00.000' AS DateTime), 0, 0, CAST(66600000 AS Decimal(18, 0)))
SET IDENTITY_INSERT [dbo].[DONDATHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[HINH] ON 

INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (1, 3, N'cho-poodle-vang-mo-thuan-chung-duc-2.png', NULL)
INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (5, 1, N'rsa-1080x800.jpg', NULL)
INSERT [dbo].[HINH] ([MAHINH], [MASP], [HINH1], [ANHIEN]) VALUES (6, 2, N'rsa-1080x800.jpg', NULL)
SET IDENTITY_INSERT [dbo].[HINH] OFF
GO
SET IDENTITY_INSERT [dbo].[KHACHHANG] ON 

INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (2, N'minh', N'0987654325', N'hcm q12', N'minh', N'e125be4ffdcbbb67898a4614b946d8fc', N'minh@gmail.com', CAST(N'2023-09-23T00:00:00.000' AS DateTime), N'DSC03238-2-1536x1024.jpg', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (3, N'demo', N'0987654329', N'hcm q12', N'demo', N'c514c91e4ed341f263e458d44b3bb0a7', N'demo@gmail.com', CAST(N'2023-09-29T00:00:00.000' AS DateTime), N'meo-aln-munchkin-chan-ngan-bicolor-8.png', NULL)
INSERT [dbo].[KHACHHANG] ([MAKH], [HOTENKH], [DIENTHOAI], [DIACHI], [TENDNKH], [MATKHAUKH], [EMAIL], [NGAYSINH], [HINHANH], [KHOIPHUCMATKHAU]) VALUES (6, N'Xuân Sơn', N'0978923124', NULL, N'SonNX', N'4297f44b13955235245b2497399d7a93', N'xuanns@gmail.com', CAST(N'2010-02-18T00:00:00.000' AS DateTime), NULL, NULL)
SET IDENTITY_INSERT [dbo].[KHACHHANG] OFF
GO
SET IDENTITY_INSERT [dbo].[LOAI] ON 

INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (1, N'Chó kiểng')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (2, N'Mèo kiểng')
INSERT [dbo].[LOAI] ([MALOAI], [TENLOAI]) VALUES (3, N'Chó con')
SET IDENTITY_INSERT [dbo].[LOAI] OFF
GO
SET IDENTITY_INSERT [dbo].[MAUSAC] ON 

INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (1, N'Đen', NULL)
INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (2, N'Trắng', NULL)
INSERT [dbo].[MAUSAC] ([MAMAUSAC], [TENMAUSAC], [ANHIEN]) VALUES (3, N'Đỏ', NULL)
SET IDENTITY_INSERT [dbo].[MAUSAC] OFF
GO
SET IDENTITY_INSERT [dbo].[PHANQUYEN] ON 

INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (4, 1, N'QL_CHUCNANG')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (5, 1, N'QL_DONDATHANG')
INSERT [dbo].[PHANQUYEN] ([MAPQ], [MAADMIN], [MACHUCNANG]) VALUES (6, 1, N'QL_HINHMOTA')
SET IDENTITY_INSERT [dbo].[PHANQUYEN] OFF
GO
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] ON 

INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (1, CAST(N'2025-10-22T20:23:00.000' AS DateTime), 8, 99)
INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (2, CAST(N'2023-09-28T00:00:00.000' AS DateTime), 1, 33)
INSERT [dbo].[PHIEUNHAPKHO] ([MAPHIEUNK], [NGAYNK], [MASP], [SOLUONG]) VALUES (3, CAST(N'2023-09-22T00:00:00.000' AS DateTime), 2, 44)
SET IDENTITY_INSERT [dbo].[PHIEUNHAPKHO] OFF
GO
SET IDENTITY_INSERT [dbo].[SANPHAM] ON 

INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIAMUA], [DONGIABAN], [MATH], [MALOAI], [MAMAUSAC], [SOLUONG], [HINHANH], [MOTA], [THANHTOANON], [ANHIEN]) VALUES (1, N'PVK00297', CAST(8000000 AS Decimal(18, 0)), CAST(10000000 AS Decimal(18, 0)), 2, 1, 2, 33, N'cho-poodle-kem-thuan-chung-duc-7.png', N'✔️ Giống: chó Poodle Tiny.

✔️ Màu sắc: kem.

✔️ Giới tính: đực.

✔️ Tuổi: 02 tháng.

✔️ Nguồn gốc: nhân giống tại Trang trại Dogily Kennel Đà Lạt (thành viên Hiệp hội những người nuôi chó giống Việt Nam – VKA).', NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIAMUA], [DONGIABAN], [MATH], [MALOAI], [MAMAUSAC], [SOLUONG], [HINHANH], [MOTA], [THANHTOANON], [ANHIEN]) VALUES (2, N'PVM00311', CAST(7000000 AS Decimal(18, 0)), CAST(9000000 AS Decimal(18, 0)), 2, 3, 2, 40, N'cho-poodle-vang-mo-thuan-chung-duc-2.png', N'✔️ Giống: chó Poodle Tiny.

✔️ Màu sắc: vàng mơ.

✔️ Giới tính: đực.

✔️ Tuổi: 02 tháng.

✔️ Nguồn gốc: nhân giống tại Trang trại Dogily Kennel Đà Lạt (thành viên Hiệp hội những người nuôi chó giống Việt Nam – VKA).', NULL, NULL)
INSERT [dbo].[SANPHAM] ([MASP], [TENSP], [DONGIAMUA], [DONGIABAN], [MATH], [MALOAI], [MAMAUSAC], [SOLUONG], [HINHANH], [MOTA], [THANHTOANON], [ANHIEN]) VALUES (3, N'PSV00210', CAST(7600000 AS Decimal(18, 0)), CAST(9900000 AS Decimal(18, 0)), 1, 1, 2, 99, N'cho-phoc-soc-vang-duc-day-du-giay-vka-13-1.png', N'✔️ Giống: chó Pomeranian (Phốc sóc, Pom).

✔️ Màu sắc: vàng.

✔️ Giới tính: đực.

✔️ Tuổi: 02 tháng.

✔️ Nguồn gốc: nhân giống tại Trang trại Dogily Kennel Đà Lạt (thành viên Hiệp hội những người nuôi chó giống Việt Nam – VKA), đầy đủ giấy tờ VKA.', NULL, NULL)
SET IDENTITY_INSERT [dbo].[SANPHAM] OFF
GO
SET IDENTITY_INSERT [dbo].[THUONGHIEU] ON 

INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (1, N'Phôc sốc', N'pasted image 0.png', NULL)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (2, N'POODLE', N'images.jpg', NULL)
INSERT [dbo].[THUONGHIEU] ([MATH], [TENTH], [LOGO], [ANHIEN]) VALUES (3, N'PUG', N'logo-chu-cho-pug-34.png', NULL)
SET IDENTITY_INSERT [dbo].[THUONGHIEU] OFF
GO
ALTER TABLE [dbo].[ChiTietDichVu] ADD  DEFAULT ((0)) FOR [DonGia]
GO
ALTER TABLE [dbo].[DangKyDichVu] ADD  DEFAULT (getdate()) FOR [NgayDangKy]
GO
ALTER TABLE [dbo].[DangKyDichVu] ADD  DEFAULT ((0)) FOR [TinhTrang]
GO
ALTER TABLE [dbo].[ChiTietDichVu]  WITH CHECK ADD  CONSTRAINT [Fk_chitiet_dv] FOREIGN KEY([MaDV])
REFERENCES [dbo].[DichVu] ([MaDV])
GO
ALTER TABLE [dbo].[ChiTietDichVu] CHECK CONSTRAINT [Fk_chitiet_dv]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [F_CTDONDATHANG_MADH] FOREIGN KEY([MADH])
REFERENCES [dbo].[DONDATHANG] ([MADH])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [F_CTDONDATHANG_MADH]
GO
ALTER TABLE [dbo].[CTDONDATHANG]  WITH CHECK ADD  CONSTRAINT [F_CTDONDATHANG_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[CTDONDATHANG] CHECK CONSTRAINT [F_CTDONDATHANG_MASP]
GO
ALTER TABLE [dbo].[DangKyDichVu]  WITH CHECK ADD  CONSTRAINT [Fk_DKDV_DV] FOREIGN KEY([MaCT])
REFERENCES [dbo].[ChiTietDichVu] ([MaCT])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyDichVu] CHECK CONSTRAINT [Fk_DKDV_DV]
GO
ALTER TABLE [dbo].[DangKyDichVu]  WITH CHECK ADD  CONSTRAINT [Fk_DKDV_KH] FOREIGN KEY([MaKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[DangKyDichVu] CHECK CONSTRAINT [Fk_DKDV_KH]
GO
ALTER TABLE [dbo].[DONDATHANG]  WITH CHECK ADD  CONSTRAINT [F_DONDATHANG_MAKH] FOREIGN KEY([MAKH])
REFERENCES [dbo].[KHACHHANG] ([MAKH])
GO
ALTER TABLE [dbo].[DONDATHANG] CHECK CONSTRAINT [F_DONDATHANG_MAKH]
GO
ALTER TABLE [dbo].[GIAMGIA]  WITH CHECK ADD  CONSTRAINT [F_PHIEUTHANHLI_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[GIAMGIA] CHECK CONSTRAINT [F_PHIEUTHANHLI_MASP]
GO
ALTER TABLE [dbo].[HINH]  WITH CHECK ADD  CONSTRAINT [F_HINH_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[HINH] CHECK CONSTRAINT [F_HINH_MASP]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_ADMIN] FOREIGN KEY([MAADMIN])
REFERENCES [dbo].[ADMIN] ([MAADMIN])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_ADMIN]
GO
ALTER TABLE [dbo].[PHANQUYEN]  WITH CHECK ADD  CONSTRAINT [FK_PHANQUYEN_CHUCNANG_QUYEN] FOREIGN KEY([MACHUCNANG])
REFERENCES [dbo].[CHUCNANG_QUYEN] ([MACHUCNANG])
GO
ALTER TABLE [dbo].[PHANQUYEN] CHECK CONSTRAINT [FK_PHANQUYEN_CHUCNANG_QUYEN]
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO]  WITH CHECK ADD  CONSTRAINT [F_PHIEUNHAPKHO_MASP] FOREIGN KEY([MASP])
REFERENCES [dbo].[SANPHAM] ([MASP])
GO
ALTER TABLE [dbo].[PHIEUNHAPKHO] CHECK CONSTRAINT [F_PHIEUNHAPKHO_MASP]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [F_SANPHAM_LOAI] FOREIGN KEY([MALOAI])
REFERENCES [dbo].[LOAI] ([MALOAI])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [F_SANPHAM_LOAI]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [F_SANPHAM_MAUSAC] FOREIGN KEY([MAMAUSAC])
REFERENCES [dbo].[MAUSAC] ([MAMAUSAC])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [F_SANPHAM_MAUSAC]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [F_SANPHAM_THUONGHIEU] FOREIGN KEY([MATH])
REFERENCES [dbo].[THUONGHIEU] ([MATH])
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [F_SANPHAM_THUONGHIEU]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__DONGIAB__412EB0B6] CHECK  (([DONGIABAN]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__DONGIAB__412EB0B6]
GO
ALTER TABLE [dbo].[SANPHAM]  WITH CHECK ADD  CONSTRAINT [CK__SANPHAM__DONGIAM__403A8C7D] CHECK  (([DONGIAMUA]>=(0)))
GO
ALTER TABLE [dbo].[SANPHAM] CHECK CONSTRAINT [CK__SANPHAM__DONGIAM__403A8C7D]
GO
USE [master]
GO
