USE [master]
GO
/****** Object:  Database [PetServiceDB]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE DATABASE [PetServiceDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'PetServiceDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetServiceDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'PetServiceDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.MSSQLSERVER\MSSQL\DATA\PetServiceDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [PetServiceDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [PetServiceDB]
GO
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 30/11/2025 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bookings]    Script Date: 30/11/2025 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bookings](
	[BookingId] [int] IDENTITY(1,1) NOT NULL,
	[ClientId] [int] NULL,
	[SitterId] [int] NULL,
	[ServiceId] [int] NOT NULL,
	[PetId] [int] NULL,
	[BookingDate] [datetime2](7) NOT NULL,
	[Location] [nvarchar](max) NOT NULL,
	[Status] [nvarchar](max) NOT NULL,
	[PaymentMethod] [nvarchar](max) NOT NULL,
	[TotalPrice] [decimal](18, 2) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
	[GuestEmail] [nvarchar](max) NULL,
	[GuestName] [nvarchar](max) NULL,
	[GuestPhone] [nvarchar](max) NULL,
	[PetName] [nvarchar](max) NULL,
	[PetType] [nvarchar](max) NULL,
 CONSTRAINT [PK_Bookings] PRIMARY KEY CLUSTERED 
(
	[BookingId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Pets]    Script Date: 30/11/2025 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Pets](
	[PetId] [int] IDENTITY(1,1) NOT NULL,
	[OwnerId] [int] NOT NULL,
	[Name] [nvarchar](max) NOT NULL,
	[Type] [nvarchar](max) NOT NULL,
	[Breed] [nvarchar](max) NULL,
	[Notes] [nvarchar](max) NULL,
 CONSTRAINT [PK_Pets] PRIMARY KEY CLUSTERED 
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Services]    Script Date: 30/11/2025 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Services](
	[ServiceId] [int] IDENTITY(1,1) NOT NULL,
	[ServiceName] [nvarchar](max) NOT NULL,
	[Description] [nvarchar](max) NOT NULL,
	[Price] [decimal](18, 2) NOT NULL,
	[ImageUrl] [nvarchar](max) NOT NULL,
 CONSTRAINT [PK_Services] PRIMARY KEY CLUSTERED 
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Users]    Script Date: 30/11/2025 5:09:59 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Users](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[Email] [nvarchar](max) NOT NULL,
	[Password] [nvarchar](max) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Phone] [nvarchar](max) NULL,
	[Address] [nvarchar](max) NULL,
	[Role] [nvarchar](max) NOT NULL,
	[CreatedAt] [datetime2](7) NOT NULL,
 CONSTRAINT [PK_Users] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251130033935_InitialCreate', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251130035343_AddServiceImage', N'9.0.0')
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20251130040738_UpdateBookingForGuests', N'9.0.0')
GO
SET IDENTITY_INSERT [dbo].[Bookings] ON 

INSERT [dbo].[Bookings] ([BookingId], [ClientId], [SitterId], [ServiceId], [PetId], [BookingDate], [Location], [Status], [PaymentMethod], [TotalPrice], [CreatedAt], [GuestEmail], [GuestName], [GuestPhone], [PetName], [PetType]) VALUES (1, 4, 2, 1, 1, CAST(N'2025-11-27T11:51:57.4161003' AS DateTime2), N'123 Nguyễn Huệ, Q1, TP.HCM', N'Completed', N'COD', CAST(100000.00 AS Decimal(18, 2)), CAST(N'2025-11-25T11:51:57.4163690' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Bookings] ([BookingId], [ClientId], [SitterId], [ServiceId], [PetId], [BookingDate], [Location], [Status], [PaymentMethod], [TotalPrice], [CreatedAt], [GuestEmail], [GuestName], [GuestPhone], [PetName], [PetType]) VALUES (2, 5, 3, 2, 3, CAST(N'2025-12-01T11:51:57.4164097' AS DateTime2), N'456 Lê Lợi, Q1, TP.HCM', N'Confirmed', N'BankTransfer', CAST(50000.00 AS Decimal(18, 2)), CAST(N'2025-11-29T11:51:57.4164102' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Bookings] ([BookingId], [ClientId], [SitterId], [ServiceId], [PetId], [BookingDate], [Location], [Status], [PaymentMethod], [TotalPrice], [CreatedAt], [GuestEmail], [GuestName], [GuestPhone], [PetName], [PetType]) VALUES (3, 4, 3, 3, 2, CAST(N'2025-12-02T11:51:57.4164105' AS DateTime2), N'123 Nguyễn Huệ, Q1, TP.HCM', N'Confirmed', N'COD', CAST(300000.00 AS Decimal(18, 2)), CAST(N'2025-11-30T11:51:57.4164107' AS DateTime2), NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Bookings] OFF
GO
SET IDENTITY_INSERT [dbo].[Pets] ON 

INSERT [dbo].[Pets] ([PetId], [OwnerId], [Name], [Type], [Breed], [Notes]) VALUES (1, 4, N'Milo', N'Dog', N'Golden Retriever', N'Rất thân thiện, thích chơi bóng')
INSERT [dbo].[Pets] ([PetId], [OwnerId], [Name], [Type], [Breed], [Notes]) VALUES (2, 4, N'Luna', N'Cat', N'Persian', N'Ít vận động, thích ngủ')
INSERT [dbo].[Pets] ([PetId], [OwnerId], [Name], [Type], [Breed], [Notes]) VALUES (3, 5, N'Max', N'Dog', N'Husky', N'Năng động, cần vận động nhiều')
SET IDENTITY_INSERT [dbo].[Pets] OFF
GO
SET IDENTITY_INSERT [dbo].[Services] ON 

INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [Price], [ImageUrl]) VALUES (1, N'Chăm sóc tại nhà 1 giờ', N'Nhân viên đến nhà chăm sóc thú cưng trong 1 giờ', CAST(100000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1514888286974-6c03e2ca1dba?q=80&w=2043&auto=format&fit=crop')
INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [Price], [ImageUrl]) VALUES (2, N'Dắt đi dạo', N'Dắt thú cưng đi dạo quanh khu vực', CAST(50000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1601758228041-f3b2795255f1?q=80&w=2070&auto=format&fit=crop')
INSERT [dbo].[Services] ([ServiceId], [ServiceName], [Description], [Price], [ImageUrl]) VALUES (3, N'Trông giữ cả ngày', N'Trông giữ thú cưng tại nhà nhân viên hoặc tại shop', CAST(300000.00 AS Decimal(18, 2)), N'https://images.unsplash.com/photo-1548199973-03cce0bbc87b?q=80&w=2069&auto=format&fit=crop')
SET IDENTITY_INSERT [dbo].[Services] OFF
GO
SET IDENTITY_INSERT [dbo].[Users] ON 

INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedAt]) VALUES (1, N'admin@petservice.com', N'admin123', N'Admin', N'0909111111', NULL, N'Admin', CAST(N'2025-11-30T11:51:57.0000000' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedAt]) VALUES (2, N'sitter1@petservice.com', N'sitter123', N'Trần Thị Hoa', N'0909222222', NULL, N'Sitter', CAST(N'2025-11-30T11:51:57.1952937' AS DateTime2))
INSERT [dbo].[Users] ([UserId], [Email], [Password], [FullName], [Phone], [Address], [Role], [CreatedAt]) VALUES (3, N'sitter2@petservice.com', N'sitter123', N'Lê Văn Nam', N'0909333333', NULL, N'Sitter', CAST(N'2025-11-30T11:51:57.1953000' AS DateTime2))
SET IDENTITY_INSERT [dbo].[Users] OFF
GO
/****** Object:  Index [IX_Bookings_ClientId]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ClientId] ON [dbo].[Bookings]
(
	[ClientId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_PetId]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_PetId] ON [dbo].[Bookings]
(
	[PetId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_ServiceId]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_ServiceId] ON [dbo].[Bookings]
(
	[ServiceId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bookings_SitterId]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Bookings_SitterId] ON [dbo].[Bookings]
(
	[SitterId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Pets_OwnerId]    Script Date: 30/11/2025 5:09:59 PM ******/
CREATE NONCLUSTERED INDEX [IX_Pets_OwnerId] ON [dbo].[Pets]
(
	[OwnerId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Services] ADD  DEFAULT (N'') FOR [ImageUrl]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Pets_PetId] FOREIGN KEY([PetId])
REFERENCES [dbo].[Pets] ([PetId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Pets_PetId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Services_ServiceId] FOREIGN KEY([ServiceId])
REFERENCES [dbo].[Services] ([ServiceId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Services_ServiceId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_ClientId] FOREIGN KEY([ClientId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_ClientId]
GO
ALTER TABLE [dbo].[Bookings]  WITH CHECK ADD  CONSTRAINT [FK_Bookings_Users_SitterId] FOREIGN KEY([SitterId])
REFERENCES [dbo].[Users] ([UserId])
GO
ALTER TABLE [dbo].[Bookings] CHECK CONSTRAINT [FK_Bookings_Users_SitterId]
GO
ALTER TABLE [dbo].[Pets]  WITH CHECK ADD  CONSTRAINT [FK_Pets_Users_OwnerId] FOREIGN KEY([OwnerId])
REFERENCES [dbo].[Users] ([UserId])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[Pets] CHECK CONSTRAINT [FK_Pets_Users_OwnerId]
GO
USE [master]
GO
