<a class="cartBlock_1 aTag" href="@Url.Action("Giohang","Giohang")" title="Giỏ hàng">
    <div class="cartItem">
        <i aria-hidden="true" class="fa fa-cart-plus">
            <i class="amountProduct order_items cart-count cart-amount d-none" data-count="0">@ViewBag.Tongsoluong</i>
        </i>
    </div>
</a>